<div id="dialog-merge" title="Merge Current Ticket with Another Ticket" style="display:none;">
   <div id="merge_msg" name="merge_msg" style="color:red; height:15px"></div>
	<p>Enter the other ticket number to merge with current ticket: 
	<input id="merge_ticket_id" name="merge_ticket_id" class="text ui-widget-content ui-corner-all" style="width:15%" />
   </p>
   <p>
       When you merge the current ticket with another ticket, the other ticket contents become appended to the current ticket. 
       The responses (if any) for the other ticket are added to the current ticket response list while maintaining timeline.
   </p>
   
</div>