<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>Home </title>

    <link rel="stylesheet" href="/its/views/common/style_print.css" type="text/css" media="screen" />
    <!--[if IE 6]><link rel="stylesheet" href="/its/views/common/style_print.ie6.css" type="text/css" media="screen" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" href="/its/views/common/style_print.ie7.css" type="text/css" media="screen" /><![endif]-->

    <link rel="stylesheet" type="text/css" href="/its/ext/js/jquery/theme/redmond/jquery-ui-1.8.1.custom.css" />
    <script type="text/javascript" src="/its/ext/js/jquery/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/its/ext/js/jquery/ui/jquery.ui.core.min.js"></script>
    <script type="text/javascript" src="/its/ext/js/jquery/ui/jquery.ui.widget.min.js"></script>
    <script type="text/javascript" src="/its/ext/js/jquery/ui/jquery.ui.mouse.min.js"></script>
    <script type="text/javascript" src="/its/ext/js/jquery/ui/jquery.ui.button.min.js"></script>
    <script type="text/javascript" src="/its/ext/js/jquery/ui/jquery.ui.draggable.min.js"></script>
    <script type="text/javascript" src="/its/ext/js/jquery/ui/jquery.ui.position.min.js"></script>
    <script type="text/javascript" src="/its/ext/js/jquery/ui/jquery.ui.resizable.min.js"></script>
    <script type="text/javascript" src="/its/ext/js/jquery/ui/jquery.ui.dialog.min.js"></script>
    <script type="text/javascript" src="/its/ext/js/jquery/ui/jquery.effects.core.min.js"></script>
    <script type="text/javascript" src="/its/ext/js/jquery/ui/jquery.ui.autocomplete.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/its/ext/js/jquery/jquery.uploadify-v2.1.0/uploadify.css" />
    <script type="text/javascript" src="/its/ext/js/jquery/jquery.uploadify-v2.1.0/swfobject.js"></script>
    <script type="text/javascript" src="/its/ext/js/jquery/jquery.uploadify-v2.1.0/jquery.uploadify.v2.1.0.min.js"></script>
    <script type="text/javascript" src="/its/ext/js/jquery/ui/jquery.ui.datepicker.min.js"></script>
    <script type="text/javascript" src="/its/views/common/pagination.lib.js"></script>
    <script type="text/javascript" src="/its/views/common/dialog.lib.js"></script>

{literal}
    <script type="text/javascript" src="/its/views/common/script.js"></script> 
{/literal}
</head>
<body>
<div class="its-post">
    <div class="its-post-tl"></div>
    <div class="its-post-tr"></div>
    <div class="its-post-bl"></div>
    <div class="its-post-br"></div>
    <div class="its-post-tc"></div>
    <div class="its-post-bc"></div>
    <div class="its-post-cl"></div>
    <div class="its-post-cr"></div>
    <div class="its-post-cc"></div>
    <div class="its-post-body">
    <div>
            <!-- main ticket: start //-->
            <div>
               <div>
                  <div class="ql_head">
                  <h2 class="its-postheader">
                     <img src="/its/views/common/images/_print_postheadericon.png" width="29" height="29" alt="postheadericon" />
                     {$ticket->ticket_id} - {$ticket->title} ({$ticket->status_text|upper})											
                  </h2>
                  Submitted on {$ticket->create_date} by 
                        <b>{$first_detail->first_name|stripslashes} {$first_detail->last_name|stripslashes}</b>
                  {assign var=source_id value=$ticket->source_id}
                  for {$source_list.$source_id}
                  </div>
                  <div class="cleared"></div>
               </div>

               <div class="pad_5"></div>
               <div class="bor_1"></div>
               
               <div class="quicklink_details">
                  <p>{$first_detail->notes|stripslashes|nl2br}</p>
                  <p>
                     {assign var=details_id value=$first_detail->details_id}
                     {assign var=attachments value=$attachments_by_details_id.$details_id}
                     {if $attachments}
                        <h4>See Attachment{if $attachments|@count gt 1}s{/if}</h4>
                        {$attachments|@count|upper} attachment{if $attachments|@count gt 1}s{/if} {if $attachments|@count gt 1}were{else}was{/if} added with this initial incident report:<br/>
                        {foreach from=$attachments item=attachment}
                           <div><a href="{$smarty.const.SUPER_CONTROLLER_URL_PREFIX}Ticket/attachment/{$attachment->attachment_id}">{$attachment->original_filename}</a></div>
                        {/foreach}
                     {/if}
                  </p>
               </div>
<!--
               <div class="quick_links">
                  {if $is_executive}
                  <a href="javascript:void(0)" onclick="markExecutive('{$ticket->ticket_id}')">
                     <div id="executive_link">
                        {if $ticket->executive_complaint}
                           Mark As Non Executive Complaint
                        {else}
                           Mark As Executive Complaint
                        {/if}
                     </div>
                   </a>
                  {/if}
                  
                  {if $is_source}
                  <div id="delete_link">
                     {if $ticket->status == $ticket_status_type.deleted}
                        DELETED TICKET
                     {else}
                     <a href="javascript:void(0)" onclick="deleteTicket('{$ticket->ticket_id}')">
                        DELETE TICKET
                     </a>
                     {/if}
                  </div>
                  <div id="close_link">
                     {if $ticket->status != $ticket_status_type.deleted}
                        {if $ticket->status == $ticket_status_type.closed}
                           CLOSED TICKET
                        {else}
                        <div>
                           <a href="javascript:void(0)" onclick="closeTicket('{$ticket->ticket_id}')">
                              CLOSE TICKET
                           </a>
                        </div>
                        {/if}
                     {/if}
                  </div>
                  {/if}
               </div>
//-->               
               <div class="cleared"></div>
            </div>
            <br/>
            <!-- main ticket: end //-->
                    
                    <p>
                     {assign var=placement value=0}
                     {foreach name=details from=$detail_list item=item}
                        {if $placement == 0}
                           {assign var=placement value=$smarty.foreach.details.total}
                        {else}
                           {assign var=placement value=$placement-1}
                        {/if}
                    <div style="border:0px solid red;">
                    <h3>
                     {assign var=place_text value=""}
                     {if $placement == 1}{assign var=place_text value="1st"}{/if}
                     {if $placement == 2}{assign var=place_text value="2nd"}{/if}
                     {if $placement == 3}{assign var=place_text value="3rd"}{/if}
                     {if $placement > 3}{assign var=place_text value=$placement|cat:"th"}{/if} 
                     {$place_text} Response by {$item->first_name|stripslashes} {$item->last_name|stripslashes} on {$item->create_date}</h3>
                    <p>
                    {$item->notes|stripslashes|nl2br}
                    
                    
                    {assign var=details_id value=$item->details_id}
                    {assign var=attachments value=$attachments_by_details_id.$details_id}
                    {if $attachments}
                     <h4>See Attachment{if $attachments|@count gt 1}s{/if}</h4>
                     {$attachments|@count|upper} attachment{if $attachments|@count gt 1}s{/if} {if $attachments|@count gt 1}were{else}was{/if} added with {$place_text} response:<br/>
                     
                     {foreach from=$attachments item=attachment}
                        <div><a href="{$smarty.const.SUPER_CONTROLLER_URL_PREFIX}Ticket/attachment/{$attachment->attachment_id}">{$attachment->original_filename}</a></div>
                     {/foreach}
                    {/if}
                    
                    
                    <br/><br/>
                    </div>
                     {/foreach}
                    </p>
                    <div class="cleared"></div>
                    
                    <!-- /itsicle-content -->                        
    </div>
</div>                          
</div>
</div>

{literal}
<script>
   window.onload = function() {window.print();}
</script>
{/literal}

</body>
</html>