<div class="cleared"></div>
<div class="its-footer">
    <div class="its-footer-inner">
        <!-- <a href="/its/run.php/rss/kabir.rss" class="its-rss-tag-icon" title="RSS"></a> -->
        <a href="/its/run.php/rss/{$firstName}.rss" class="its-rss-tag-icon" title="RSS"></a>
        <div class="its-footer-text">
            <p><a href="/its/run.php/contact">Contact Us</a> | <a href="/its/docs/toc.pdf">Terms of Use</a>  
                | <a href="/its/docs/privacy_statement.php">Privacy Statement</a><br />
                Copyright &copy; 2010 EVOKNOW, Inc. All Rights Reserved.</p>
        </div>
    </div>
    <div class="its-footer-background"></div>

</div>