<div id="message_box_cyan" {if !$message}style="display:none;"{/if}>
   <div class="its-post">
       <div class="its-post-tl"></div>
       <div class="its-post-tr"></div>
       <div class="its-post-bl"></div>
       <div class="its-post-br"></div>
       <div class="its-post-tc"></div>
       <div class="its-post-bc"></div>
       <div class="its-post-cl"></div>
       <div class="its-post-cr"></div>
       <div class="its-post-cc"></div>
       <div class="its-post-body">
       <div class="its-post-inner its-itsicle">                                    
          <div class="its-postcontent">	   
            <p id="message_box_cyan_text">{$message}</p>
          <div class="cleared"></div>                                                                           
       </div>
   </div>                          
   </div>
</div>