<script type="text/javascript" src="/its/ext/js/jquery/jquery-1.4.2.min.js"></script>
{if $msg neq ''}  
<div class="its-post_msg">
    <b class="b1f"></b><b class="b2f"></b><b class="b3f"></b><b class="b4f"></b>	 	
       	   <div class="msg">{$msg}</div>
    <b class="b4f"></b><b class="b3f"></b><b class="b2f"></b><b class="b1f"></b>         
</div>
{/if}
<div class="its-post">
    <div class="its-post-tl"></div>
    <div class="its-post-tr"></div>
    <div class="its-post-bl"></div>
    <div class="its-post-br"></div>
    <div class="its-post-tc"></div>
    <div class="its-post-bc"></div>
    <div class="its-post-cl"></div>
    <div class="its-post-cr"></div>
    <div class="its-post-cc"></div>
    <div class="its-post-body">
    <div class="its-post-inner its-itsicle">                                    
       <div class="its-postcontent">
       	<h2>My Tickets</h2>
   	<div class="user_list_container"> 	  
      <div class="tag_id header"><strong>Ticket ID</strong></div>
      <div class="tag_name header"><strong>Title</strong></div>
      <div class="tag_name header"><strong>Priority</strong></div>
      <div class="tag_name header"><strong>Create Date</strong></div>
      <div class="user_status header"><strong>Status</strong></div>
      <div class="action header"><strong>Action</strong></div>
      {foreach item=ticket_obj key=index from=$ticket_list}
         {if $index%2 eq 0}
            <div class="tag_id even">{$ticket_obj->ticket_id}</div>
            <div class="tag_name even">{$ticket_obj->title}</div>   
            <div class="tag_name even">{$ticket_obj->priority}</div>   
            <div class="tag_name even">{$ticket_obj->create_date}</div> 
            <div class="user_status even">{$ticket_obj->status}</div> 
            <div class="action  even"><a href="/its/run.php/Ticket/{$ticket_obj->ticket_id}">View</a>&nbsp;|&nbsp;<a href="/its/run.php/UserManager/delete/{$user_obj->user_id}">Delete</a></div>  
         {else}
            <div class="tag_id odd">{$ticket_obj->ticket_id}</div>
            <div class="tag_name  odd">{$ticket_obj->title}</div>   
            <div class="tag_name odd">{$ticket_obj->priority}</div>  
            <div class="tag_name  odd">{$ticket_obj->create_date}</div> 
            <div class="user_status  odd">{$ticket_obj->status}</div> 
            <div class="action  odd"><a href="/its/run.php/Ticket/{$ticket_obj->ticket_id}">View</a>&nbsp;|&nbsp;<a href="/its/run.php/UserManager/delete/{$user_obj->user_id}">Delete</a></div>  
         {/if}
      {/foreach}
      
       <div class="cleared"></div> 
       </div>                                                                          
    </div>
</div>                          
</div>
</div>
{literal}
 <script>
    $(document).ready(function() {
       $('.its-post_msg').fadeOut(6000);
    });
 </script>	 
{/literal}	 
	 	    